<h1>Portfolio items</h1>

<%= link_to 'Create new item', new_portfolio_path %>

<%# explicitly pass the name of the partial to be used as it can't be inferred using naming conventions %>
<%= render partial: 'portfolio_item', collection: @portfolio_items %>