<footer class="mastfoot mt-auto">
  <div class="inner">
    <p><%= copyright_generator %></p>
    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</footer>