<h1>Pages#contact</h1>
<p><%= number_to_phone "123456789" %></p>
<p><%= number_to_currency "123456789" %></p>
<p><%= number_to_percentage "13.37" %></p>
<p><%= number_with_delimiter "123456789" %></p>
