<h1 class="cover-heading">Philip Baumann</h1>
<p class="lead">Welcome to my simple portfolio. Allow me to give you a (hopefully) brief overview of my skillset.</p>
<p class="lead">
  <%= link_to 'About me', about_path, class: 'btn btn-lg btn-secondary' %>
</p>
<p class="lead"></p>